page-feeds {
    .toolbar-background {
        background-color: white;
    }
    .label {
	
        font-weight: bold;
        font-size: 15px;
        padding-right: 40px;
        float: left;
        margin-bottom: 8px;
    }
    .des {
        color: grey;
        font-size: 15px;
        word-wrap: break-word;
        text-align: left;
        margin-bottom: 8px;
    }

    
    
    .fade {
        -webkit-transition: 0.2s opacity linear;
        transition: 0.2s opacity linear;      
        opacity: 0;
      }
      .rate {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        background: #FFF;
        border: 5px solid #f0f0f0;
        float: left;
        box-shadow: 1px 1px 1px 0px #e9e9e9;
      }
      .rate:nth-child(1) {
        margin-left: 4px;
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
      }
      .rate:nth-child(3) {
        margin-left: -4px;
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
      }
      .searchbar-md .searchbar-search-icon, .searchbar-md .searchbar-md-cancel {
          color: #9E00FF;
      }
      .ionrow {
          position: relative;
          top: 20px;
      }
      #sharebtn {
          left: 55%;
         
      }
      .custom-share {
          color: #3BABE3;   
      }
      .textoncard {
        color: white;
        margin-left: 10px;
      }
      .title {
        position: absolute;
        top: 125px;
        font-size: 17px;
      }
      .subt {
          position: absolute;
          top: 148px;
          font-size: 13px;
      }
      .time {
          position: absolute;
          top: 148px;
          font-size: 13px;
          left: 210px; 
      }
      #endbtn {
          position: relative;
          top: -10px;
      }
      .toolbar-background {
        background-color: white;
      }
      .tabs .tabbar {
        background-color: white;
    }
    .dropdown {
        position: absolute;
        z-index: 1;
        background-color: whitesmoke;
        width: 84%;
        max-height: 150px;
        margin-left: 5px;
        left: 10px;
        overflow-y: auto;
        border: 0.55px solid grey;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #card-stack {
        width: 100%;
        height: 80%;
        //background: #047915;
        //border: 10px solid #4cb338;
        //margin: 100px auto 0;
        position: relative;
      }
     
      #card-stack ion-card {
        border-radius: 5px;
        position: absolute;
        text-align: center;
        top: 3%;
        height: 110%;
      }
}
