page-slides {

#skipbtn {
	color: white;
	float: right;
	opacity: 0.8;
}
#contentpage {
	background: black;	
}
#para {
	line-height: 0.5cm;
	font-size: 12px;
	color: white;
	text-align: center;
	opacity: 0.8;
}

#slidepart {
	position: relative;
	top: 10px;
}
.swiper-pagination-bullet-active {
	background: white;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0px 10px 0px;
}





}
