page-reset-password {
    .ipfield{
        position: relative;
        top: 20px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        border: 0.55px solid #c8c7cc;
    }
    .content{
        background-color: #E8E8E8;
    }
    #closebtn{
        color: #3BABE3;
    }
    #Resetbtn {
        background-color: #3BABE3;
        width: 80%;
        margin-top: 45px;
    }
    .list-md .item-input {
        border-bottom: 0.5px solid red;
    }
}
