page-editinfo {
	
#closebtn {
	color: #3BABE3;
}
#tickbtn {
	color: #3BABE3;
}

#content {
	background: #F2F2F2;
}

#is {
	font-size: 13px;
}

ion-label {
	font-size: 12px;

}
ion-input {
	font-size: 12px;
}
.listitem {
	margin-bottom: 0px;
}
#locbtn {
	transform: rotate(40deg);
}
ion-label[fixed] {
	flex: 0 0 70px;
	min-width: 50px;
	width: 16px;
}
#impbtn {
	color: #3BABE3;
	position: relative;
	right: 10px;
}
#driveicon {
	max-width: 90%;
}
#newAcbtn {
	background-color: #3BABE3;
}
#newAcbtnpos{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

}
