page-settings {
    #bg {
        background: #E0E0E0;
    }
    ion-label {
        font-size: 14px;
    }
    #box2 {
        position: relative;
        top: 20px;
        
        
    }
    #box1 {
        position: relative;
        top: 25px;
        
    }
    .toolbar-background {
        background-color: white;
      }
    .tabs .tabbar {
        background-color: white;
    }
    
}
