page-policy {
    #content{
        background-color: whitesmoke;
    }
    #cardcontent {
        color: grey;
        font-size: 12px;
    }
    #arrowbtn{
        color: #3CABE2;
        
    }
    

}
