
<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button clear icon-only style="color: #3BABE3;" (click)="goBack()" >
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button clear style="color:#585858;">Details</button>
    </ion-buttons>
    
  </ion-navbar>

</ion-header>


<ion-content>
  <div style="font-size:10px; text-align:center;">7 minutes ago</div>
  <ion-list no-lines class="msgbubble" *ngFor="let msg of messages">
    <div class="innermsg left" text-left *ngIf="userId != msg.id ">
      {{ msg.reply }}
    </div>
    <div class="innermsg right" text-right *ngIf="userId == msg.id">
        {{ msg.reply }}
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input placeholder="Type here" [(ngModel)]="question" type="text"></ion-input>
    <ion-buttons right>
      <button ion-button clear icon-only id="sendicon" (click)="ask(question)">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>